[submodule "platforms/espressif32"]
	path = platforms/espressif32
	url = https://github.com/pioarduino/platform-espressif32
[submodule "platforms/ststm32"]
	path = platforms/ststm32
	url = https://github.com/platformio/platform-ststm32
[submodule "lib/Adafruit-GFX-Library"]
	path = lib/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library
[submodule "lib/Adafruit-ST7735-Library"]
	path = lib/Adafruit-ST7735-Library
	url = https://github.com/adafruit/Adafruit-ST7735-Library
[submodule "lib/Adafruit_BusIO"]
	path = lib/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO
[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson
[submodule "lib/blackmagic/blackmagic"]
	path = lib/blackmagic/blackmagic
	url = https://codeberg.org/blackmagic-debug/blackmagic
[submodule "lib/esp-usb-host-hid/esp-usb"]
	path = lib/esp-usb-host-hid/esp-usb
	url = https://github.com/espressif/esp-usb
[submodule "lib/GxEPD2"]
	path = lib/GxEPD2
	url = https://github.com/ZinggJM/GxEPD2
[submodule "lib/heltec-eink-modules"]
	path = lib/heltec-eink-modules
	url = https://github.com/todd-herbert/heltec-eink-modules
[submodule "lib/micropython/micropython"]
	path = lib/micropython/micropython
	url = https://github.com/micropython/micropython
[submodule "lib/mquickjs/mquickjs"]
	path = lib/mquickjs/mquickjs
	url = https://github.com/bellard/mquickjs
[submodule "lib/NimBLE-Arduino"]
	path = lib/NimBLE-Arduino
	url = https://github.com/h2zero/NimBLE-Arduino
[submodule "lib/ov2640/ov2640"]
	path = lib/ov2640/ov2640
	url = https://github.com/libdriver/ov2640
[submodule "lib/RadioLib"]
	path = lib/RadioLib
	url = https://github.com/jgromes/RadioLib
[submodule "lib/STM32FreeRTOS"]
	path = lib/STM32FreeRTOS
	url = https://github.com/stm32duino/STM32FreeRTOS
[submodule "lib/tflite-micro/tflite-micro"]
	path = lib/tflite-micro/tflite-micro
	url = https://github.com/tensorflow/tflite-micro
