[submodule "platforms/espressif32"]
	path = platforms/espressif32
	url = https://github.com/pioarduino/platform-espressif32
[submodule "platforms/ststm32"]
	path = platforms/ststm32
	url = https://github.com/platformio/platform-ststm32
[submodule "lib/Adafruit-GFX-Library"]
	path = lib/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library
[submodule "lib/Adafruit-ST7735-Library"]
	path = lib/Adafruit-ST7735-Library
	url = https://github.com/adafruit/Adafruit-ST7735-Library
[submodule "lib/Adafruit_BusIO"]
	path = lib/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO
[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson
[submodule "lib/GxEPD2"]
	path = lib/GxEPD2
	url = https://github.com/ZinggJM/GxEPD2
[submodule "lib/heltec-eink-modules"]
	path = lib/heltec-eink-modules
	url = https://github.com/todd-herbert/heltec-eink-modules
[submodule "lib/mquickjs/src"]
	path = lib/mquickjs/src
	url = https://github.com/bellard/mquickjs
[submodule "lib/NimBLE-Arduino"]
	path = lib/NimBLE-Arduino
	url = https://github.com/h2zero/NimBLE-Arduino
[submodule "lib/PsychicHttp"]
	path = lib/PsychicHttp
	url = https://github.com/hoeken/PsychicHttp
[submodule "lib/RadioLib"]
	path = lib/RadioLib
	url = https://github.com/jgromes/RadioLib
[submodule "lib/STM32FreeRTOS"]
	path = lib/STM32FreeRTOS
	url = https://github.com/stm32duino/STM32FreeRTOS
